---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---


    <footer class="mt-16 text-center py-6 text-sm text-white bg-gradiant-to-br from-indigo-500">
        <p>
            &copy; {new Date().getFullYear()} Bhavesh Shinde. All Rights Reserved.
        </p>
        <div class="mt-2 flex justify-center gap-8">
            <a><img src="/images/Github.png" alt="Github Icon" /></a>
            <a> <img src="/images/Linkedin.png" alt="LinkedIn Icon" /></a>
            <a> <img src="/images/GMail.png" alt="GMail Icon" /></a>
        </div>
    </footer>

